<div class="contextual_help has_go_tip_right" title='Source field accepts wildcards. Please consult <a href="https://maven.apache.org/shared/maven-shared-utils/apidocs/org/apache/maven/shared/utils/io/DirectoryScanner.html">org.apache.maven.shared.utils.io.DirectoryScanner</a> documentation for details.'>
</div>
<div style="clear: both"></div>
<div class="form_item_block">
    <table>
        <thead>
        <tr>
            <th><label>Source</label></th>
            <th><label>Destination</label></th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="source in sources">
            <td>
                <input ng-model="source.source" required="true" ng-required="true" style="margin-right: 6px;" class="form_input artifact_source" name="" size="30" type="text">
            </td>
            <td>
                <input ng-model="source.destination" class="form_input artifact_destination" name="" size="30" type="text">
            </td>
            <td>
                <span class="icon_remove delete_parent" ng-click="removeSource($index)"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <input id="sourceDestinations" type="hidden" ng-model="sourceDestinations" value="{{sourceDestinations}}">
    <a id="add_artifact" ng-click="addSource()" class="action_icon skip_dirty_stop add_icon" title="" href="#"><span class="icon"></span><span>Add</span></a>
    <span class="form_error" ng-show="GOINPUTNAME[sourceDestinations].$error.server">{{ GOINPUTNAME[sourceDestinations].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Destination Prefix</label>
    <input type="text" ng-model="destinationPrefix"/>
    <span class="form_error" ng-show="GOINPUTNAME[destinationPrefix].$error.server">
        {{ GOINPUTNAME[destinationPrefix].$error.server }}
    </span>
    <div class="contextual_help has_go_tip_right" title="By default all files are going to be prefixed with PIPELINE_NAME/STAGE_NAME/JOB_NAME/PIPELINE_COUNTER.STAGE_COUNTER prefix. If you intend to download the artifacts with B2 fetch/material plugin, leave this field empty.">
    </div>
</div>

<br/>
<div class="form_item_block">
    <label>Bucket name</label>
    <input type="text" ng-model="bucketName"/>
    <span class="form_error" ng-show="GOINPUTNAME[bucketName].$error.server">
        {{ GOINPUTNAME[bucketName].$error.server }}
    </span>
</div>
<script type="text/javascript">
jQuery(document).ready(function() {
    var interval = setInterval(function(){
        try {
            var $scope = angular.element(document.getElementById("task_angular_pluggable_task_io_github_kszatan_gocd_b2_publish")).scope();
            $scope.$apply(function() {
                $scope.sources = $scope.sourceDestinations ? JSON.parse($scope.sourceDestinations) : [];

                $scope.addSource = function() {
                    this.sources.push({ source: "", destination: ""});
                };

                $scope.removeSource = function(index) {
                    this.sources.splice(index, 1);
                }

            });

            $scope.$watch("sources", function(){
                var $scope = angular.element(document.getElementById("task_angular_pluggable_task_io_github_kszatan_gocd_b2_publish")).scope();
                $scope.sourceDestinations = angular.copy($scope.sources).toJSON();
            }, true);

            clearInterval(interval);
        }
        catch(e) {
        }
    }, 50);
});
</script>