<div class="form_item_block">
    <label>Repository Name</label>
    <input type="text" ng-model="repositoryName"/>
    <span class="form_error" ng-show="GOINPUTNAME[repositoryName].$error.server">
        {{ GOINPUTNAME[repositoryName].$error.server }}
    </span>
    <div class="contextual_help has_go_tip_right" title="Repository name as defined in Admin > Package Repositories."/>
</div>
<div class="form_item_block">
    <label>Package Name</label>
    <input type="text" ng-model="packageName"/>
    <span class="form_error" ng-show="GOINPUTNAME[packageName].$error.server">
        {{ GOINPUTNAME[packageName].$error.server }}
    </span>
    <div class="contextual_help has_go_tip_right" title="Package name as defined in Admin > Package Repositories for given repository."/>
</div>
<div class="form_item_block">
    <label>Destination</label>
    <input type="text" ng-model="destination"/>
    <span class="form_error" ng-show="GOINPUTNAME[destination].$error.server">
        {{ GOINPUTNAME[destination].$error.server }}
    </span>
</div>